
  header {
    margin: 0;
    padding: 0;
    float: top;
    background-image: url("images/filmstrip.png");
    height: 310px;
    width: 100%;
    margin-top: 0;
    overflow: auto;
    background-size: cover;
    margin-bottom: 0;
  }

  li a.active {
    color: yellow;
    background-color: blue;
  }

  li.link{
    font-family: 'Russo One', sans-serif;
    color: yellow;
    font-size: 45px;
  }

  li {
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
  }

  ul {
    background-image: url("images/film_side.png");
    margin-top: -16.3%;
    padding: 0;
    width: 150px;
    height: 100%;
    overflow: auto;
    position: fixed;
  }

  a.bottom {
    font-family: "Sans-Serif", sans-serif;
    vertical-align: bottom;
    color: black;
    text-shadow: 3px 3px 5px navy;
  }

  article {
    border-radius: 15px;
    font-family: "Sans-Serif", sans-serif;
    background-color: navajowhite;
    float: right;
    width: 1000px;
    height: 550px;
    margin-top: 2%;
    border: 5px solid black;
    vertical-align: middle;
    margin-bottom: 2%;
    margin-right: 15%;
  }

  article.first {
    border-radius: 15px;
    font-family: "Sans-Serif", sans-serif;
    background-color: navajowhite;
    width: 1000px;
    height: 800px;
    margin-top: 2%;
    border: 5px solid black;
    vertical-align: middle;
    margin-bottom: 2%;
  }

  iframe {
    margin-left: 2%;
    padding-right: 2%;
  }

  h1 {
    color: crimson;
    font-family: 'Monoton', cursive;
    text-shadow: 5px 5px 8px yellow;
    font-size: 60px;
    font-variant: small-caps;
    text-align: center;
  }

  h2 {
    font-family: 'Russo One', sans-serif;
    color: black;
    text-shadow: 3px 3px gold;
  }

  img.poster {
    float: left;
    vertical-align: middle;
    width: 250px;
    height: 400px;
    margin-top: 0%;
    margin-left: -30%;
  }

  img.reelL {
    float: left;
    width: 250px;
    height: 250px;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 20%;
  }

  img.reelR {
    float: middle;
    width: 250px;
    height: 250px;
    margin-top: 0%;
    margin-bottom: 2%;
    padding-left: 0;
  }

  img.snes {
    float: left;
    width: 400px;
    height: 250px;
    margin-top: 0%;
    margin-bottom: 2%;
    margin-left: -42%;
  }

  b.final {
    color: red;
  }

  body {
    font-family: 'Baloo Bhaina', cursive;
    background-color: orange;
    background: linear-gradient(white, yellow);
    color: navy;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 28px;
    margin-top: 0;
  }
